<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
        </blacklist>
    </filter>

    <testsuite name="localization">
        <directory>./tests/</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="tests/report/" charset="UTF-8" yui="true" highlight="true" />
    </logging>
</phpunit>
